<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
<link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="header"> Stephanie's Burgers</div>
    {{{body}}}
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="./index.js"></script>
</body>
</html>