body ,html {
    margin: 0px;
    padding: 0px;
}
.container {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}
.header {
    height: 250px;
    background-color: red;
    color: yellow;
    display:flex;
    justify-content: center;
    align-items: center;
}